@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Patrick+Hand|Patrick+Hand+SC');

/*
font-family: 'Patrick Hand', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Noto Serif', serif;
*/


/* Simple CSS-reset */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Mobile layout */

body {
    background-color: #d1ebf2;
}
header {
    background-color: #e5a3da;
}
header a {
    text-decoration: none;
}
h1 {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 75px;
    color: black;
}
h2 {
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    font-size: 50px;
}
h3 {
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    font-size: 35px;
}
h4 {
    font-size: 30px;
    font-family: 'Patrick Hand SC', cursive;
}
p,
li {
    font-family: 'Noto Serif', serif;
}
.portfolio img {
    width: 95%;
    display: block;
    margin: 10px auto;
}
.r1,
.portrow1,
.r2,
.portrow2,
.r3,
.portrow3 {
    width: 100%;
}
.info img {
    width: 95%;
}
.info ul,
.priceinfo ul {
    margin-bottom: 20px;
    list-style: none;
}
.info li,
.priceinfo li {
    margin-bottom: 10px;
}
.priceinfo,
.info {
    padding: 0 30px;
    text-align: center;
    font-size: 20px;
}
.prices {
    width: 100%;
    padding: 20px;
    text-align: center;
}
.prices ul {
    list-style: none;
}
.simple img {
    width: 99%;
    display: block;
    margin: 0 auto;
}
.illu {
    width: 99%;
}
.about {
    padding: 10px;
}
.about p {
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: center;
}
.about iframe {
    height: 300px;
    width: 100%;
    display: block;
    margin: 10px auto;
}
form {
    display: block;
    font-family: 'Patrick Hand SC', cursive;
    padding: 20px;
}
.conimg img {
    width: 90%;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 97%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=checkbox] {
    width: 30px;
    height: 30px;
}
label {
    font-weight: bold;
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 30px;
}
input[type=submit] {
    width: 50%;
    background-color: #eac3eb;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
textarea {
    height: 200px;
}
input[type=submit]:hover {
    background-color: #e5a3da;
}
footer {
    border-top: solid 1px #000;
    padding: 20px;
    text-align: center;
    background-color: #d6e3ff;
}
footer a img {
    margin: 0 10px;
    width: 35px;
}

/* Desktop layout */

@media only screen and (min-width: 800px) {
    .portrow1,
    .portrow2,
    .portrow3 {
        width: 30%;
        margin: 0 auto;
    }
    .r1,
    .r2 {
        width: 50%;
    }
    .portfolio {
        background-color: #feebff;
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    .prices,
    .priceinfo,
    .twislider {
        width: 80%;
        margin: 75px auto;
        background-color: rgba(254, 242, 255, 0.5);
        padding: 20px;
        border-radius: 40px;
        border: 3px solid #fff;
    }
    .info {
        padding: 20px 50px;
    }
    .prices article {
        width: 50%;
    }
    .prices figure {
        width: 50%;
    }
    .prices ul {
        list-style: none;
        margin: 10px 0;
    }
    .simple h4 {
        margin: 20px 0;
    }
    .simple img {
        width: 70%;
    }
    .illu figure {
        width: 50%;
        margin: auto;
    }
    .about {
        margin: auto;
        width: 85%;
    }
    .about iframe {
        height: 500px;
        width: 100%;
    }
    .contact {
        margin: auto;
        width: 90%;
    }
    .conimg img {
        width: 100%;
        padding: 20px;
        margin: auto;
    }
    footer a img {
        margin: 0 10px;
        width: 55px;
    }
}

/* Map */
#map {
    height: 600px;
    background-color: grey;
}

/* Navigation */

.topnav {
    font-family: 'Patrick Hand SC', cursive;
    overflow: hidden;
    background-color: #fee7ff;
    font-size: 32px;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
}
.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 32px;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eac3eb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #efcef0;
}
.dropdown-content a:hover {
    background-color: #e5a3da;
    color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Media querries for nav and form */
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}